body {
    font-family: 'Roboto', sans-serif;
    background-color: #15202b;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
}

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #192734;
    height: 100vh;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
    transition: background-color 0.2s;
}

.sidebar ul li a:hover {
    background-color: #1c9dea;
}

.content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #15202b;
    min-height: 100vh;
}
